* {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen, ubuntu, cantarell, "fira sans", "droid sans", "helvetica neue", Arial, sans-serif;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
  display: none;
}
body {
    background-color: rgba(55, 53, 56, 0.97)
}
.alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
}
.success {
  padding: 20px;
  background-color: rgba(227, 100, 19, 1);
  color: white;
}
a {
    margin: 1px;
    text-decoration: none;
}
.w3-col.m6-6 {
    width: 52%
}
.w3-col-l6-6 {
    width: 52%
}
.w3-dropdown-content {
    background-color: #272e36;
    color: whitesmoke;
}
.w3-dropdown-content table tr td:hover {
    background-color: #021c319a;
}
/* Tooltip container */
.tooltip {
 position: relative;
 display: inline-block;
 border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Add flex styling */
.flexible {
    display: flex;
}
/* Tooltip text */
.tooltip .tooltiptext {
 visibility: hidden;
 width: 120px;
 background-color: #555;
 color: #fff;
 text-align: center;
 padding: 5px 0;
 border-radius: 6px;

 /* Position the tooltip text */
 position: absolute;
 z-index: 1;
 bottom: 125%;
 left: 50%;
 margin-left: -100px;

 /* Fade in tooltip */
 opacity: 0;
 transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
 content: "";
 position: absolute;
 top: 100%;
 left: 50%;
 margin-left: -5px;
 border-width: 5px;
 border-style: solid;
 border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
 visibility: visible;
 opacity: 1;
}
.tableFixHead {
    overflow: scroll;
    height: 300px;
}

.tableFixHead thead th {
    position: sticky;
    top: 0;
    background-color: #203c53;
}
.w3-content {
    max-width: 1640px;
    margin-left: 240px;
}
@media (max-width:960px){
    .w3-content {
        margin-left: auto;
    }
}
.w3-content .table-viewer {
    width: 100%;
    height: 600px;
    overflow: scroll;
}
.tallbox {
    height: 600px;
}

.file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  color: white;
}
input,
label {
    display: block;
    float: left;
}

.textbox {
    height: 150px;
}

/* chart style */
.chart-style {
    display: inline-block;
    position: relative;
    width: 100%;
    max-height: 500px;
}

.contentview td {
    text-align: left;
    padding: 20px;
    width: 250px;
    word-wrap: break-word;
    color: white;
    background-color: rgba(55, 53, 56, 0.7)
}

.signup {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding: 4px;
    margin: 2px;
    text-align: center;
}

.navtop {
    position: sticky;
    top: 0;
    height: 10px;
    width: 100%;
    border: 0;
    background-color: #2f3947;
    align-content: center;
}

.navtop h1 {
    flex: 1;
    font-size: 24px;
    padding: 10px 100px 10px 10px;
    color: #eaebed;
    font-weight: normal;
    display: inline-flex;
}

.navtop div {
    margin: 0 auto;
    width: 80%;
    height: 100%;
}

.navtop div a {
    padding: 5px 25px;
    text-decoration: none;
    color: #c1c4c8;
    font-weight: bold;
    align-content: right;
}

.navtop div a i {
    padding: 2px 8px 0 0;
}

.w3-sidebar {
    height:100%;
    width:240px;
    background-color:#263e53;
    color:white;
    position:fixed!important;
    z-index:1;
    overflow:auto;
    padding:15px;
    box-shadow: 0 0 10px 5px #202325;
}
caption {
    color: rgba(96, 217, 238, 1);
    font-size: larger;
}

body.loggedin {
    background-color: #f3f4f7;
}

textarea {
    width: 650px;
    height: 220px;
    padding: 5px 5px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: white;
    font-size: 16px;
}

.contentview {
    width: 1200px;
    margin: 10px auto;
}

.contentview>div p {
    padding: 1px;
    margin: 1px 1px 0 0;
}

.contentview>p,
.contentview>div {
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);
    margin: 15px 0;
    padding: 5px;
    background-color: rgba(55, 53, 56, 0.7);
}

.contentview textarea {
    width: 850px;
    min-height: 450px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: rgba(55, 53, 56, 0.7);
    font-size: 16px;
    color: white
}
.contentview label {
  color: rgba(42, 125, 128, 1);
}
table {
    border-collapse: collapse;
    table-layout: auto;
    width: auto;
}

tr {
    text-align: left;
    /* border: 1px solid black; */
    color: white
}

.w3-content h1 {
    margin: 20px;
    padding: 25px 0;
    font-size: 28px;
    border-bottom: 1px solid #e0e0e3;
    color: #097baf;
}

.w3-content h2 {
    margin: 0;
    padding: 15px 0;
    font-size: 22px;
    color: #4accec;
    text-align: center;
}

.w3-content h3 {
    margin: 0;
    padding: 10px 0;
    font-size: 18px;
    color: #6ec9ec;
}

.w3-content h5 {
    margin: 0;
    padding: 5px 0;
    font-size: 16px;
    color: #89a7af;
    text-align: left;
}

.contentview h1 {
    margin: 0;
    padding: 25px 0;
    font-size: 22px;
    border-bottom: 1px solid #e0e0e3;
    color: #4a536e;
}

.w3-content>p,
.w3-content>div {
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);
    margin: 5px auto;
    padding: 5px;
    color: whitesmoke;
}

.w3-content>p table td,
.w3-content>div table td {
    padding: 8px;
}

.w3-content>p table td:first-child,
.w3-content>div table td:first-child {
    font-weight: bold;
    /* color: #097baf; */
    padding-right: 15px;
}

.w3-content h2 {
    margin: 0;
    padding: 5px 0;
    font-size: 22px;
    color: #0777ac;
}

.create-contact {
    display: inline-block;
    text-decoration: none;
    background-color: #38b673;
    font-weight: bold;
    font-size: 14px;
    color: #FFFFFF;
    padding: 10px 15px;
    margin: 15px 0;
}

.w3-bar .w3-dropdown-hover .task-mngr {
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    color: #FFFFFF;
    width: max-content;

}
/* Tasks badge notifications *************************************************/
.base {
    height: 60px;
    width: 60px;
    position: relative;
}
.badgecur {
    position: relative;
    bottom: 10px;
    left: 2px;
    padding: 2px 2px;
    border: 2px solid whitesmoke;
    border-color: whitesmoke;
    border-top-left-radius: 25%;
    border-top-right-radius: 25%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    background: rgba(255, 141, 34, 0.7);
    color: whitesmoke;
    justify-content: center;
    align-items: center;
    
    /* position: absolute;
    top: 15%;
    right: 15%;
    left: 70%;
    bottom: 30%;
    background: rgb(255, 145, 0, .7);
    border: 3px solid rgb(51, 51, 51, .8);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center; */
}
.badgepas {
    position: relative;
    left: 10px;
    padding: 2px 2px;
    border-top-left-radius: 25%;
    border-top-right-radius: 25%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border: 2px solid whitesmoke;
    background: rgba(161, 6, 6, .7);
    color: whitesmoke;
    justify-content: center;
    align-items: center;
    /* position: absolute;
    top: 0%;
    right: 0%;
    left: 85%;
    bottom: 45%;
    background: rgba(161, 6, 6, .7);
    border: 3px solid rgb(51, 51, 51, .8);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center; */
}
.task-mngr a {
    display: inline-block;
    background-color: #097baf;
    width: 120px;
    height: 30px;
    text-align: center;
    padding: 2px;
    border-radius: 5%;
}

.add-task {
    display: inline-block;
    text-decoration: none;
    background-color: #38b673;
    font-weight: bold;
    font-size: 14px;
    color: #FFFFFF;
    padding: 10px 15px;
    margin: 15px 0;
}

.create-contact:hover {
    background-color: #32a367;
}

.center {
    text-align: center;
}
/* Table mods ----------------------------------------------*/
table tbody tr td:nth-child(1).today {
    background-color: rgba(226, 213, 213, 0.733);
    color: black;
    border-radius: 5%;
    font-weight: bold;
}
table tbody tr td.today {
    background-color: rgba(226, 213, 213, 0.733);
    color: black;
    border-radius: 5%;
    font-weight: bold;
}
.cal-table {
    width: 100%;
    align-content: center;
}
table {
    width: 100%;
    padding-top: 30px;
    border-collapse: collapse;
}

.w3-table tbody tr:hover {
    background-color: #476277;
}
table thead {
    background-color: #203c53;
    border-bottom: 1px solid #d3dae0;
    color: white;
}

table thead td {
    padding: 10px;
    font-weight: bold;
    color: #34d6d6;
    font-size: 14px;
}

table tbody tr td {
    padding: 10px;
    color: whitesmoke;
}

table tbody tr td:nth-child(1) {
    color: #48b1ee;
}

table tbody tr td.actions {
    padding: 8px;
    text-align: right;
}

table tbody tr td.actions .edit,
table tbody tr td.actions .trash,
table tbody tr td.actions .task,
table tbody tr td.actions .view,
table tbody tr td.actions .convert {
    display: inline-flex;
    text-align: right;
    text-decoration: none;
    color: #FFFFFF;
    padding: 10px 12px;
}

table tbody tr td.actions .trash {
    background-color: #b73737;
}

table tbody tr td.actions .trash:hover {
    background-color: #a33131;
}

table tbody tr td.actions .edit {
    background-color: #ff9800;
}

table tbody tr td.actions .edit:hover {
    background-color: coral;
}

table tbody tr td.actions .view {
    background-color: green;
}

table tbody tr td.actions .view:hover {
    background-color: darkgreen;
}

table tbody tr td.actions .convert {
    background-color: green;
}

table tbody tr td.actions .convert:hover {
    background-color: darkgreen;
}

table tbody tr td.actions .task {
    background-color: rgb(0, 110, 255);
}

table tbody tr td.actions .task:hover {
    background-color: rgb(0, 81, 255);
}

.update form {
    padding: 15px 10px;
    display: flex;
    flex-flow: column wrap;
    flex: 200px;
}

.update form label {
    display: inline-flex;
    padding: 1px 0;
    margin-right: 2px;
    color: white;
}

.update form input {
    padding: 10px;
    width: 300px;
    margin-right: 25px;
    margin-bottom: 15px;
    border: 1px solid #cccccc;
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
}

.update form select {
    padding: 10px;
    width: 300px;
    margin-right: 25px;
    margin-bottom: 15px;
    border: 1px solid #cccccc;
}

.update form input[type="submit"] {
    display: block;
    background-color: #38b673;
    border: 0;
    font-weight: bold;
    font-size: 14px;
    color: #FFFFFF;
    cursor: pointer;
    width: 200px;
    margin-top: 15px;
}

.update form input[type="submit"]:hover {
    background-color: #32a367;
}

.delete .yesno {
    display: flex;
}

.delete .yesno a {
    display: inline-block;
    text-decoration: none;
    background-color: #38b673;
    font-weight: bold;
    color: #FFFFFF;
    padding: 10px 15px;
    margin: 15px 10px 15px 0;
}

.delete .yesno a:hover {
    background-color: #32a367;
}

.update .yesno {
    display: flex;
}

.update .yesno a {
    display: inline-block;
    text-decoration: none;
    background-color: #38b673;
    font-weight: bold;
    color: #FFFFFF;
    padding: 10px 15px;
    margin: 15px 10px 15px 0;
}

.update .yesno a:hover {
    background-color: #32a367;
}

.back {
    display: flex;
}

.back a {
    display: inline-block;
    text-decoration: none;
    background-color: #38b673;
    font-weight: bold;
    color: #FFFFFF;
    padding: 10px 15px;
    margin: 15px 10px 15px 0;
}

.back a:hover {
    background-color: #32a367;
}

.print {
    transition-duration: 0.4s;
}

.print:hover {
    background-color: #4CAF50;
    /* Green */
    color: white;
}

/* login page styling */

* {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen, ubuntu, cantarell, "fira sans", "droid sans", "helvetica neue", Arial, sans-serif;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.logincolor {
    background-color: #2f3947;
}

.login {
    width: 400px;
    background-color: #ffffff;
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
    margin: 100px auto;
}

.login h1 {
    text-align: center;
    color: #5b6574;
    font-size: 24px;
    padding: 20px 0 20px 0;
    border-bottom: 1px solid #dee0e4;
}

.login form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
}

.login form label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: #3274d6;
    color: #ffffff;
}

.login form input[type="password"],
.login form input[type="text"] {
    width: 310px;
    height: 50px;
    border: 1px solid #dee0e4;
    margin-bottom: 20px;
    padding: 0 15px;
    box-shadow: 0 0 5px 4px rgba(0, 0, 0, 0.06);
}

.login form input[type="submit"] {
    width: 100%;
    padding: 15px;
    margin-top: 20px;
    background-color: #3274d6;
    border: 0;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
    transition: background-color 0.2s;
}

.login form input[type="submit"]:hover {
    background-color: #2868c7;
    transition: background-color 0.2s;
}

body.loggedin {
    background-color: #f3f4f7;
}

* {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen, ubuntu, cantarell, "fira sans", "droid sans", "helvetica neue", Arial, sans-serif;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.regcolor {
    background-color: #435165;
    margin: 0;
}

.register {
    width: 400px;
    background-color: #ffffff;
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
    margin: 100px auto;
}

.register h1 {
    text-align: center;
    color: #5b6574;
    font-size: 24px;
    padding: 20px 0 20px 0;
    border-bottom: 1px solid #dee0e4;
}

.register form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
}

.register form label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: #3274d6;
    color: #ffffff;
}

.register form input[type="password"],
.register form input[type="text"],
.register form input[type="email"],
.register form select {
    width: 310px;
    height: 50px;
    border: 1px solid #dee0e4;
    margin-bottom: 20px;
    padding: 0 15px;
    box-shadow: 0 0 5px 4px rgba(0, 0, 0, 0.06);
}

.register form input[type="submit"] {
    width: 100%;
    padding: 15px;
    margin-top: 20px;
    background-color: #3274d6;
    border: 0;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
    transition: background-color 0.2s;
}

.register form input[type="submit"]:hover {
    background-color: #2868c7;
    transition: background-color 0.2s;
}

/* Pagination */
.pagination {
    list-style-type: none;
    padding: 10px 0;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}

.pagination li {
    box-sizing: border-box;
    padding-right: 10px;
}

.dots {
    color: white;
}

.pagination li a {
    box-sizing: border-box;
    background-color: #518acb;
    padding: 8px;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    color: black;
    border-radius: 4px;
}

.pagination li a:hover {
    background-color: rgb(145, 224, 238);
}

.pagination .next a,
.pagination .prev a {
    text-transform: uppercase;
    font-size: 12px;
}

.pagination .currentpage a {
    background-color: rgb(145, 224, 238);
    color: black;
}

.pagination .currentpage a:hover {
    background-color: rgb(145, 224, 238);
}
.custom-blue {
    background-color: #202325;
}

/* CSS pagination styling
/* .pagination {
	display: inline-block;
  }

  .pagination a {
	color: rgb(206, 237, 241);
	float: left;
	padding: 8px 16px;
	text-decoration: none;
	transition: background-color .3s;
	border: 1px solid #ddd;
  }

  .pagination a.active {
	background-color: #4CAF50;
	color: rgb(9, 89, 155);
	border: 1px solid #4CAF50;
  }

  .pagination a:hover:not(.active) {background-color: #034469;} */
